@{
    Layout = "~/Views/Shared/book_Layout.cshtml";
}

<div class="row">
    <div class='list-group gallery col-sm-12'>
        <div class='col-sm-6'>
            <a class="thumbnail fancybox img-card" rel="ligthbox" href="img/heigh/01.png">
                <img class="img-responsive" alt="" src="img/heigh/01.png" />
                <div class='text-right'>
                    <small class='text-muted'>課程時間</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-6'>
            <a class="thumbnail fancybox img-card" rel="ligthbox" href="img/heigh/02.png">
                <img class="img-responsive" alt="" src="img/heigh/02.png" />
                <div class='text-right'>
                    <small class='text-muted'>獎學金</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-6'>
            <a class="thumbnail fancybox img-card" rel="ligthbox" href="img/heigh/03.png">
                <img class="img-responsive" alt="" src="img/heigh/03.png" />
                <div class='text-right'>
                    <small class='text-muted'>國、高中英文學習差異</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
        <div class='col-sm-6'>
            <a class="thumbnail fancybox img-card" rel="ligthbox" href="img/heigh/04.png">
                <img class="img-responsive" alt="" src="img/heigh/04.png" />
                <div class='text-right'>
                    <small class='text-muted'>教學團隊</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-12'>
            <a class="thumbnail fancybox img-card" rel="ligthbox" href="img/heigh/05.png">
                <img class="img-responsive tar" alt="" src="img/heigh/05.png" />
                <div class='text-right'>
                    <small class='text-muted'>高一目標</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->


    </div> <!-- row / end -->

</div>