@{
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}
<style>
    .img-news {
        box-shadow: 0 16px 8px 0 rgba(0,0,0,0.16),0 8px 16px 0 rgba(0,0,0,0.12)
    }

    .w3-teal, .w3-hover-teal:hover {
        color: #fff !important;
        background-color: #009688 !important
    }

    .w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before,
    .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
        content: "";
        display: table;
        clear: both
    }
    #newtit {
        padding-top: 20px;
        font-weight: 700;
        color: darkslategrey;
    }
    ul {
        font-size:18px;
    }
    ul > li {
        color:red;
        margin-top:5px
    }
        ul > li > a {
            color: whitesmoke;
            font-size:12px;
        }
        ul > li > a:hover {
            color: blue
        }
    @@media (max-width: 992px) {
        #newtit {
            margin-top: -60px !important;
        }
    }

    


</style>


<div class=" w3-teal" style="height:80px;">
    <h1 style="padding-top:20px;padding-left:35px;">活動消息</h1>
</div>
<div class="col-md-12">

    <div class="row" style="margin-top:10px">
        <a href="~/Content/img/DM/小高一LINE_P20180420_16452233.jpg" target="_blank" class="col-md-4">
            <div class="news-card ">
                <img id="myImg1" data-cid="1" class="img-news" src="~/Content/img/DM/小高一LINE_P20180420_16452233.jpg">
            </div>
        </a>

        <a href="~/Content/img/DM/國七升國八LINE_P20180425_15585486.jpg" target="_blank" class="col-md-4">
            <div class="news-card ">
                <img id="myImg2" data-cid="2" class="img-news" src="~/Content/img/DM/國七升國八LINE_P20180425_15585486.jpg">
            </div>
        </a>

        <a href="~/Content/img/DM/國八升國九LINE_P20180320_16140511.jpg" target="_blank" class="col-md-4">
            <div class="news-card">
                <img id="myImg3" class="img-news" data-cid="3" src="~/Content/img/DM/國八升國九LINE_P20180320_16140511.jpg">
            </div>
        </a>
        <a href="~/Content/img/DM/誠徵英文老師LINE_P20180309_15354812.jpg" target="_blank" class="col-md-4">
            <div class="news-card ">
                <img id="myImg4" class="img-news" data-cid="4" src="~/Content/img/DM/誠徵英文老師LINE_P20180309_15354812.jpg">
            </div>
        </a>
        <a href="~/Content/img/DM/劉毅英文高三招生簡章_20180409_180428_0002.jpg" target="_blank" class="col-md-4">
            <div class="news-card ">
                <img id="myImg5" class="img-news" data-cid="5" src="~/Content/img/DM/劉毅英文高三招生簡章_20180409_180428_0002.jpg">
            </div>
        </a>

        <a href="~/Content/img/DM/劉毅英文歡慶50週年LINE_P20180316_11262505.jpg" target="_blank" class="col-md-4">
            <div class="news-card ">
                <img id="myImg6" class="img-news" data-cid="6" src="~/Content/img/DM/劉毅英文歡慶50週年LINE_P20180316_11262505.jpg">
            </div>
        </a>
    </div>
</div>


<div class="col-md-5 photo-block">
    <img src="~/Content/img/liu-Yi.png" />
    <h2  style="font-weight:800;text-align:left;color:white">劉毅</h2>
    <div class="introLiu">1971年 劉毅老師發明「模考制度」，開始在台南一中對面的天主堂教英文。由八位同學開始教起。現在台大醫院副院長王主科教授就是當時的學生。</div>
    <div class="introLiu">1972年 「劉毅英文」有四位同學考上台大醫科，陳耀楨為榜道。</div>
    <div class="introLiu">1974年 「劉毅英文」轉戰台北，第一天只有一位同學，但劉毅老師仍然拼命上課，從此學生人數不斷增加。</div>
    <div class="introLiu">1984年 創立「學習出版公司」，為當時唯一的專業英語出版，「劉毅英文」學生人數已達1200人。</div>
    <div class="introLiu">1988年 劉毅老師發明「一天背好1000個英單字」學生人數突破2000人。</div>
    <div class="introLiu">1995年 發明「考前魔鬼營」，一天讀15小時，勝過在家讀五天震撼補教界。</div>
    <div class="introLiu">2000年 發明「超級戰鬥營」，無論規模、成效已是補教界的典範。</div>
    <div class="introLiu">2003年 發明「一口氣英語」，一舉解決學英語的困擾，學生人數突破6000人。</div>
    <div class="introLiu">2007年 成立「劉毅英文教育機構」，同時在班上課學生人數已達12000人。</div>
</div>


<div class="col-md-7 slide-block">
    <div class="activity-content">

        <div class="activity-title col-md-12">
         

            <div class="imglist">
                <h2 id="newtit"> 最新消息</h2>
                <hr/>
                <ul>
                    <li><a>TOEIC新制多益課程︰所有保證班班系學員，一次繳費，上到考取保證的分數為止，每年需要參加一次測驗，考取證照前，決不額外收費。</a></li>
                    <li><a>高效英語會話︰想自助旅行卻擔心英文無法與人溝通？菜單看不懂？害怕迷路？常常想跟朋友聊最新用語卻不知如何開口？想玩寶可夢卻看不懂使用說明？快加入劉毅英文你想要的會話主題通通有！也不怕時間太忙有學費划不來的狀況！上課時間︰時間彈性，憑課堂券上課，可邀請親朋好友一起上課且不限期限。上課特色︰互動式教學，注重學員，個別的學習。</a></li>
                    <li><a>全民英檢︰獎學金制度︰凡在班期間，取得中級英檢證書，可得獎學金$5,000元。</a></li>
                    <li><a>小六升國七精熟銜接班︰超前學校進度，兼備聽、說、讀、寫等課外內容，並於段考前開設「段考深度集訓講座」，讓同學在班上名列前矛！</a></li>
                    <li><a>學測頂標保證班︰全科複習課程，打破章節利用循環式主題複習，目標達到科科15級分；模擬考超前學校模考範圍，以戰養戰，讓成績立即見效；配合每週週考範圍，檢測學生學習狀況，追蹤成績，完善輔導機制，解決學生學習的惡性循環。</a></li>

                </ul>
            </div>
        </div>



        @*<div class="clear"></div>
            <div class="activity-content-bottom">
                <div class="activity-counter col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn-ghost" onclick="#">考衝班報名</button>
                </div>
                <div class="clear"></div>
            </div>*@
    </div>
</div>
<div class="clear"></div>


<div class="col-md-12 contact-block" id="Contactdiv" style="text-align:center">


    <div class="contactword">
        聯絡我們

    </div>

    <div class="col-md-3"></div>

    @using (Html.BeginForm("InsertContact", "LiuController", FormMethod.Post, new { @id = "ContactForm", @class = "form-horizontal col-sm-6 ", role = "form" }))
    {
        <div class="form-group" style="text-align:left">

            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="name">姓名:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="姓名(必填)" name="name">
            </div>
        </div>
        <div class="form-group" style="text-align:left">
            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="Schoolname">學校:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="Schoolname" placeholder="學校" name="Schoolname">
            </div>
        </div>
        <div class="form-group" style="text-align:left">
            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="email">信箱:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="信箱" name="email">
            </div>
        </div>
        <div class="form-group" style="text-align:left">
            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="Phone">手機:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="Phone" placeholder="手機(電話或手機選一)" name="Phone">
            </div>
        </div>
        <div class="form-group" style="text-align:left">
            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="LocalPhone">電話:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="LocalPhone" placeholder="電話(電話或手機選一)" name="LocalPhone">
            </div>
        </div>
        <div class="form-group" style="text-align:left">
            <label style="margin-right:-15px;color:black" class="control-label col-sm-2" for="Course">課程:</label>
            <div class="col-sm-9">
                <select class="form-control" id="Course" name="Course">
                    <option value="小六升國七精熟銜接班">小六升國七精熟銜接班</option>
                    <option value="國七升國八超前進度班">國七升國八超前進度班</option>
                    <option value="會考保證班">會考保證班</option>
                    <option value="高一英文課程">高一英文課程</option>
                    <option value="高一數學課程">高一數學課程</option>
                    <option value="高二三英文課程">高二三英文課程</option>
                    <option value="高二數學課程">高二數學課程</option>
                    <option value="學測保證班">學測保證班</option>
                    <option value="TOEIC新制多益課程">TOEIC新制多益課程</option>
                    <option value="GEPT全民英檢中級複試班">GEPT全民英檢中級複試班</option>
                    <option value="高效英文會話">高效英文會話</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="text-align:left;margin-top:25px">
            <label style="margin-right:-15px;" class="control-label col-sm-2"></label>
            <div class="col-sm-9">
                <div style="text-align:right">
                    <a class="type-dark btn-ghost" onclick="ContactSend()" style="cursor:pointer">送出</a>
                </div>
            </div>
        </div>
    }

</div>

<script>
    $(function () {
        $("body").on("click", "#pretrial", pretrial);
    })
    function pretrial()
    {
   
        $('html, body').animate({
            scrollTop: $("#Contactdiv").offset().top
        }, 2000);
    }
    function ContactSend() {
        if ($("#name").val().trim() == "") {
            alert("請填寫姓名");
            return false;
        }
        if ($("#Phone").val().trim() == "") {
            if ($("#LocalPhone").val().trim() == "") {
                alert("電話或手機請選擇一樣填寫");
                return false;
            }

        }

        $.ajax({
            url: "/Liu/InsertContact",
            type: "POST",
            data: $("#ContactForm").serialize(),
            success: function (data) {
                if (data.Status == "0") {
                    alert("\n訊息：送出成功，我們會盡快聯繫您！");

                } else {
                    var message = data.StatusDesc;
                    alert(message);
                }
            },
            error: function (err) {
                alert(err.Status);
            }
        });
    }
</script>
